* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 30px;
}

.col-4 {
  width: 33.3333%;
  padding: 0 15px;
 
}
.box img {
  width: 100%;
  height: 350px;
}

.sddcsdcd:hover {
  background-color: red;
}
